-----BEGIN CERTIFICATE-----
MIIEyTCCArGgAwIBAgIUWRgfgicVIn8TTxEocpp286Hw3ZYwDQYJKoZIhvcNAQEL
BQAwFDESMBAGA1UEAxMJSWNpbmdhIENBMB4XDTE3MDYyMjA3NTkxOVoXDTMyMDYx
ODA3NTkxOVowFDESMBAGA1UEAxMJSWNpbmdhIENBMIICIjANBgkqhkiG9w0BAQEF
AAOCAg8AMIICCgKCAgEApd0btX2z00SCVW6VI5wX9VLjmceJfe1DrlCnbeMx+BXS
p4kou0gFty3Ou7R7pJcwcEP1ePiWMeg1GXOMQRpaqe0yjH296ibdWpCp2OWjp1OV
3XLRMf9U6rIpXMAHj5fRxrBSl9wptT8oK1F3bAZ1d+foJUyvRICzvDAkjP3f+3eS
6BiF/zn7BRVL1qphPlJ9VatPxevU8VsUyHQFy6xkDUYvIQRZ1DXmve47Tu+kS3Pd
iCYCXnvimTDpCX4JWX/VvyVjE9tGQhe5ipi3+4RcgpbgqKnB9hZBNUAYhQel9u48
XTl4qvHGew15kiolfjFJmesD5R5tg6Nuyoikus7H8mby3u0e0OJa0njdenWc8Dpo
su5DfEQcBlrXoKlZTZjybKVqTAwCELbjl+/5ujCO6PvGsKoW+GSxDOSCSqTzgnRQ
Gxlkezi/cWq2LkgZopc9eQ/VXQ9XMaC+Mkw5FNqBX1NOqGou0tcShQImiwtj2qOV
u1HFuew96LRgmJPG5HBD8UONNBUZkOHwBWCFIEVX0S+EQs4QsoaB7sf5CWMtkZLG
vCNfhzYNtvh8i7nUfDhyUDFHq1s2zyZGvDK2d2CIJTFFT2f213iOZIlRA2xVu3bm
LFg0hj4FlG7mDLQCfeu/CNzesPg84iBHu5KBriYjln1TWEsg87EL2Gcls8/BDo8C
AwEAAaMTMBEwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAgv2Q
BWQOUcRuacOa+pZII2bvobr12B7SKnawn+Cn/Q8sesC0vdPUkuazcJ2bj30nFOov
ujhOdcM12DrNiXD/BYoyBOa2TGC3wmzhm7XgNK7x9QgUZrjezFXT9UvSvTdIMb/f
oUkjSmU2LoaW4AVaePccxhD59uJlF9PuxWF5twk40Do6iasoKJB/VY5lE2bSq4Hm
k8xmLmdOt2PeW758mUsz9zbbB4mWYcIqhcrifIkyaKxLjJMhm4l/OfF7G+krX+ki
FK2GVn9zSsEF2kDLxYvkbBOtaiNmhw5Ej/u41eCrigCOLECnOKqmbSLEFnkwoVGh
lHLhhcauDR1fuppArNJWwEHoVu5yOQ92mXOE4asp9y0KIeoI+zmKJ9UqOeeKQtxk
OpVE37Ijew/zHKg5KgcflSRz0lY0wkf8KLbp9/j0TjCDwW2HqOCkz0RUizoAiGfl
q5I3yhks8xYvv6bhj5lUSqdjuqoBVD3ZyshkFeb8HIxdPVwBP1yfcHChfRrNPkKC
1MT+G2MP9Ef/YxFBzxxPIcCbIyyRMsQx0x3gHHRCqIFT2dIwBs7VkEDWKLXkbgJb
ogiEdBy7CVYQVSJKeAZTgbgGOTIYPJZiIGjvX3Gah1pwwFjXAGPv3rwjSLXBbks+
rBHjbw/mQSIQ68qnm1gxtel0mu9roToX/9/R83c=
-----END CERTIFICATE-----
