-----BEGIN CERTIFICATE-----
MIIEyzCCArOgAwIBAgIUclDrJBFwuls6QjZGSFFLzY2ygtowDQYJKoZIhvcNAQEL
BQAwFDESMBAGA1UEAxMJSWNpbmdhIENBMB4XDTE3MDYyMjA3NTkxOVoXDTMyMDYx
ODA3NTkxOVowGTEXMBUGA1UEAxMOZG9ja2VyLWljaW5nYTIwggIiMA0GCSqGSIb3
DQEBAQUAA4ICDwAwggIKAoICAQDX2I53p4pB7k8fo42YqbBEaIs07cXRhAV/bRh2
BcRNfVmgU0BWic3nLv7hWryEpM92QQomWwEuxnUHHhqzObOfRldfIHxCA3d+kJDk
S/0W03iDYSdHUmeZQ4ox+pjjK3NH3IUr5s0rssxIAbgqqokwn8PIghSWLfAn9INO
eiSUNYpJHRLoV57ooVcxxkwNXnV7V0eaucTZtFTLoO0N7T9CtR/kwwhnWAMO5UpD
zsD1Ap89hiozojBgAYc4l3t9KkFABLfLTzrf4bELuSozLaoXTyAPiHfMbfmjM1WH
vebyQaVgsWn326kMgldT/yN+G1Jz0zqAbl0G4giQYdKzp0PIvwyeCc6mMg1v7VqZ
xK+xPh0knJFmZyco6Tl4oXj3tBO1HvWMyHoZtdjlJyFoL86XmPzx5CJU0BcSeSpO
lHhf4L/rMLLcfGxEE8cyP6c6/5Y7+D1SabiDfdPtFlJiUZs1X7r47qMjvsXIadLV
NbJd4mpsCxaJacGUeiYLQMC9CIlkyhtWkJpdFgqPmvh+AWZYhaUmibXzi3jB6/Kh
JJ1zpJJWRXJhPkDPPMwMBgoxn6QvCu1QozJswS1027FdNgx7tzHTSPGdcmqilZzu
aVARMfp6ymc0MsmBU9gsLFhj4OVLJEG0D9Uj6ko1mSfIyDBfp1vf7L2rIqB6495+
NGo/owIDAQABoxAwDjAMBgNVHRMBAf8EAjAAMA0GCSqGSIb3DQEBCwUAA4ICAQBx
c/An7wkaMk7bUxIawPkhTJQ76o2xwNz1dsdPnN1AGxu+OPuDJ8USaw/YbK2z0g7+
JsMRn/11PNU0YuBvw60Hbl9Hl+MqyJMg97dpN082gsSpS+qlw3t5wIOyhlQ7fRT5
dbzHIS6g7KBlZ8yfwxNxZzhViL7B0CxE5KrMnvbjah/jy2vgultcevp69zYTGBwe
vGyn5N4i9nXCztxeCzdic8h24O7OaRMnRjYKLXPXSaz8Lz7apvvY0wuhCyboKu7u
Xq5q5uicZoqCSbPEkqO2TVaslaZwYr8DmPd3+iChOGS69WbIiIO/pMI+FwoLVS3v
vg8nL85d7IDHVjElS/oO7+GmdX+UVhj1zAYKvbKgIJ+EPmg4NERMLLXlVl9SVwFZ
lOTSG2SYe5sTgTaRruwfHvzmmkgcL5AFVhPQWl2hOY9tUqkZPwNx3pRn14t+H9Ik
0LhB8kE7guP/AXMH6+qvXoi8LgrvtyoJ/8gwQJ74109pzGh4Lb5VdAsBkbVSDghg
bnWyRFnlvi9JfXT9DYaHgov2xaWGxwwySKpiT8uojOSBtAWjMcWqUcNcQwCLuSBg
+GTqN8SmNhNnoHxJN7ioWlKOsNIEZR0uM/d5Emcin+/PgPot3MWOpgm4HQXTFRJy
ItW1pjjY9zrOnx5ZvptNorvbr9XwXYwE90PtoAR0xQ==
-----END CERTIFICATE-----
