[icingaweb_db]
type = "db"
db = "mysql"
host = "mysql"
port = "3306"
dbname = "icinga"
username = "icinga"
password = "icinga"
charset = ""
persistent = "0"
use_ssl = "0"

[icinga_ido]
type = "db"
db = "mysql"
host = "mysql"
port = "3306"
dbname = "icinga"
username = "icinga"
password = "icinga"
charset = ""
persistent = "0"
use_ssl = "0"

